<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="app/css/main.css"/>
        <title>Weather - Boston Globe</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Boston Globe</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <div class="category">Weather</div>
            <hr/>
            <a href="#/changeUnit/imperial">F</a>|<a href="#/changeUnit/metric">C</a>
            <hr/>
            <div id="alert"></div>
            <div id="forecast">
            </div>
            <hr/>
            <div id="hourly"></div>
            <hr/>
        </div>
        <!-- TEMPLATES -->
        <script type="text/template" id="alert-template"></script>

        <script type="text/template" id="forecast-template">
            <div class="col-md-10 col scrollmenu">
                <div class="row">
                    <div class="col col-sm-2 col-xs-2">
                        <div class="label">Today</div>
                    </div>
                    <% let regex = /00:00:00/g; %>
                    <% _.each(list, function(json) { %> 
                        <% if(json.dt_txt.match(regex)) { %>
                            <% let item = json.dt_txt.slice(0, 10); %>
                            <div class="col col-sm-2 col-xs-2">
                                <div class="label">
                                    <div><%= item %></div>
                                    <div><img src="http://openweathermap.org/img/wn/<%= json.weather[0].icon %>@2x.png" height="50px" width="50px;"/></div>
                                    <div><%= json.weather[0].description %></div>
                                    <div><%= json.main.temp %></div>
                                </div>
                            </div>
                        <% } %>
                    <% }); %> 
                </div>
            </div>
        </script>

        <script type="text/template" id="hourly-template">
            <% let i = 0; %>
            <% _.each(list, function(json) { %> 
                <% let temperature = Math.trunc(json.main.temp); %>

                <% if(i % 2 == 0) { %>
                    <% color_class = "gray_background"; %> 
                <% } else { %>
                    <% color_class = "white_background"; %> 
                <% } %>
                <div class="row <%= color_class %>"> 
                    <div class="col-2"><img src="http://openweathermap.org/img/wn/<%= json.weather[0].icon %>@2x.png" height="50px" width="50px;"/></div>
                    <div class="col-2"><%= json.weather[0].description %></div>
                    <div class="col-2"><%= temperature %>&deg;F</div>
                    <div class="col-2"><%= json.wind.speed %>&nbsp;mph</div>
                    <div class="col-2"><%= json.main.humidity %>%</div>
                </div>
                <% ++i; %>
            <% }); %>
        </script>

        <!-- LIBRARIES -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script data-main="app/app" src="node_modules/requirejs/require.js"></script>
    </body>
</html>
