div.category, 
div.label {
    font-size: 50px;
    font-weight: 800;
    margin-right: 24px;
    font-family: Helvetica, Arial, sans-serif, BentonSansCond;
}

div.label {
    font-size: 14px;
    text-align: center;
}

hr { 
    background-color: #000000;
    border: 0; 
    display: block; 
    height: 1px;
    margin: 1em 0; 
    padding: 0; 
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}


div.gray_background {
    background-color: #eeeeee;
}

div.white_background {
    background-color: #ffffff;
}
